<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle Name="Auraly"
          Manufacturer="Auraly"
          Version="$(var.BundleVersion)"
          UpgradeCode="9704F2BF-3BC4-4D55-9A13-F2DE686F1BD6"
          Compressed="yes"
          IconSourceFile="..\..\Desktop\Auraly.Desktop\Assets\Auraly.ico"
          bal:CommandLineVariables="caseInsensitive">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkSidebarLicense"
                                               LicenseUrl=""
                                               ThemeFile="AuralyTheme.xml"
                                               LocalizationFile="AuralyTheme.wxl"
                                               LogoFile="..\..\..\admin\public\brand\auraly-mark.png"
                                               ShowVersion="yes"
                                               SuppressOptionsUI="yes"
                                               LaunchTarget="[ProgramFiles64Folder]Auraly\Auraly.Desktop.exe"
                                               LaunchWorkingFolder="[ProgramFiles64Folder]Auraly" />
    </BootstrapperApplication>

    <Variable Name="AuralyRelaunch"
              Type="numeric"
              Value="0"
              bal:Overridable="yes" />

    <util:RegistrySearch Id="WebView2Machine"
                         Variable="WebView2MachineVersion"
                         Root="HKLM"
                         Key="SOFTWARE\WOW6432Node\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}"
                         Value="pv" Result="value" Bitness="always64" />
    <Chain>
      <ExePackage Id="WebView2Runtime"
                  SourceFile="$(var.WebView2InstallerPath)"
                  Compressed="yes"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  DetectCondition="WebView2MachineVersion AND WebView2MachineVersion &lt;&gt; &quot;0.0.0.0&quot;"
                  InstallArguments="/silent /install" />
      <MsiPackage Id="AuralyPosMsi"
                  SourceFile="$(var.MsiPath)"
                  Compressed="yes"
                  Vital="yes">
        <MsiProperty Name="AURALY_RELAUNCH" Value="[AuralyRelaunch]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
